.count__section{
    height: 100dvh;
    background-color: #1d1d1d;
    padding-block-start: 100px;
    margin-block-end: 200px;
}

.counter__box{
    max-width: 700px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 40px;
}

.input__group{
    margin-block-end: 30px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 30px;
}

.counter__input{
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}

.input__button{
    border-left: none;
    background-color: transparent;
    padding: 13px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
}


.input__wrapper {
    position: relative;
    margin-block-end: 30px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 50px;
  }
  
  .input {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    transition: border-color 250ms;
    background-color: transparent;
  }
  .input:focus {
    outline: none;
    border-bottom-color: #777;
  }
  .input::placeholder {
    color: transparent;
  }
  .input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
  
  .label {
    position: absolute;
    top: 60px;
    left: 60px;
    color: white;
    pointer-events: none;
    transform-origin: left center;
    transition: transform 250ms;
    font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  }
  
  .input:focus + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-150%) scale(0.75);
  }
  
  .clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: white;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clear:hover, .clear:focus {
    color: white;
  }
  
  .input:placeholder-shown + .label + .clear {
    display: none;
  }