.statistic__box{
    border: 1px solid white;
    padding: 20px;
    margin-block-end: 40px;
}

.statistic__title{
    color: white;
    font-size: 25px;
    border-bottom: 1px solid white;
}

.statistic__description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 1px solid white;
    padding-block-start: 20px;
    padding-inline-start: 20px;
}

.total__sum{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.num__title{
    display: block;
    min-width: 220px;
}

.stut__number{
    border-bottom: 3px solid #ff4617;
}

